In [36]:
import requests
import pandas as pd
import os

In [45]:
current_directory = os.getcwd()
data_fp = os.path.join(current_directory, "data")

In [47]:
combined_df = pd.read_csv("data/oakface.csv")
combined_df.head()

        x1       x2  y_oakface
0  14.5588  686.869   0.973462
1  14.4775  690.728   0.974855
2  14.3970  694.587   0.975169
3  14.3175  698.445   0.974131
4  14.2388  702.304   0.975639

In [48]:
for filename in os.listdir(data_fp):
    if filename != "oakface.csv":
        fp = os.path.join(data_fp, filename)
        df = pd.read_csv(fp)
        ycol = df.iloc[:,2]
        combined_df = pd.concat([combined_df, ycol], axis = 1)

combined_df_flip = combined_df.iloc[::-1]

In [49]:
combined_df_flip.head()

          x1       x2  y_oakface  y_clybrkcm  y_distd_wn  y_sndpgaz1
599  3.33522  2998.30   0.972906    0.616606         NaN    0.840829
598  3.33952  2994.44   0.969277    0.624745         NaN    0.840267
597  3.34383  2990.58   0.973086    0.628873         NaN    0.845934
596  3.34815  2986.72   0.972659    0.627793         NaN    0.840304
595  3.35248  2982.86   0.972688    0.624667         NaN    0.837362

In [50]:
combined_df_flip.to_csv("data/emisdata.csv", index = False)

In [51]:
emisdata = pd.read_csv("data/emisdata.csv", index_col=False)
emisdata = emisdata.dropna(axis=0)

In [52]:
emisdata.to_csv("data/emisdata2.csv", index=False)